*{
	box-sizing: content-box;
}
body{
	display: flex;
	flex-direction: column;
	margin: 0px;
 

	background-color: rgb(68, 74, 76);
}
/* le munu de */

nav{
	padding: 20px;
	background-color: rgba(73, 52, 57, 0.698);
	flex-wrap: nowrap;
	display:flex;

	flex-direction: row;

	
	/*flex-wrap: nowrap;
*/
	justify-content:space-between;
	
	height: auto;
	

} /* le text du menu */
nav h1{

	letter-spacing: 20px;
	
	font-family: fantasy;
	
	font-size: 50px;
	
	font-style: italic;
	
}
  
 

	/* le composant chamt saisie et image du pendu */
.contener{
	flex-grow: 1;
	flex-direction: row;

	background-color: rgb(155, 141, 141);
	
	display: flex;
	
	height: 700px;
	box-sizing: border-box;
	justify-content:space-evenly;
	
	align-content:space-around ;
	
} 

/* image du pendu */
.imageP{
	/*display: none;*/
	
	
	margin:120px 60px ;
	border: 3px rgb(146, 146, 158) outset;
	border-radius: 10px;
}
/* champ de saisie du joueur et le bouton de validation
*/
.champ{
	inline-size: mi-content;
	border: 3px rgb(164, 164, 180) inset;
	border-radius: 10px;
	margin:120px 60px ;
	
	display: flex;

	text-justify: auto;
		
	background-color: rgb(66, 85, 80);

	
	



}
/*
.conteneur2 h2{

	justify-content: center;

	margin-left: 10px;

	font-size: 20px;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*/
h3{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-style: italic;
	

}



ul{
	
	list-style-type: none;
	
	display: flex;
	
	justify-content: space-between;
}
li ,a{
	display:inline-block;
	margin-right: 0px;
	
	font-size: 30px;
	
	color: rgb(197, 189, 189);
 	
	text-decoration: none;
}


footer{
	background-color: rgb(40, 41, 46);
	
	padding: auto;	
	
	display: flex;
	
	color: #FFFF;
	flex-direction: row;

	

	
	font-family: Arial, Helvetica, sans-serif;
	
	justify-content:space-evenly;

}
li .disabled{
	text-align-last: justify;

}